{% extends 'base.html.twig' %}

{% block title %}Voici l'accueil de mon site web{% endblock %}

{% block body %}


    <h1>Voici mon site, il répertorie tous les articles latins qui sortent chaque jours<br></h1>


    <h2>Liste des 10 derniers articles : </h2>

    <ol class="list-group">
        {% for article in articles %}
            <li class="list-group-item"><a href="{{ path("app_article_slug",{slug: article.slug}) }}">{{ article.titre }}</li></a>
        {% endfor %}
    </ol>

{% endblock %}
