{% extends 'base.html.twig' %}

{% block title %}Info de l'article{% endblock %}

{% block body %}


    <div class="card text-bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">{{ article.titre }}</div>
        <div class="card-body">
            {% if  article.categorie %}
                <h5 class="card-title">Catégorie : <span class="badge text-bg-secondary fs-5">{{ article.categorie.titre }}</span></h5>
            {% endif %}
            <p class="card-text"><span class="badge rounded-pill text-bg-info mb-3">Créé le {{ article.createdAt | date("d/m/Y") }}</span></p>
            <p class="card-text ">{{ article.contenu }}</p>
        </div>
    </div>

{% endblock %}
